.min-h-screen {
    min-height: 66vh;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.font-bold {
    font-weight: bolder;
    color: white;
}

.flex-col {
    flex-direction: column;
}

.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2 {
    margin-top: 9vh;
    margin-bottom: 9vh;
}

.my-3 {
    margin-bottom: 9vh;
}

.px-2 {
    padding-left: 13px;
    padding-right: 13px;
}

.btn {
    padding: 4px 12px;
    border-radius: 12px;
    background-color: rgba(51, 49, 49, 0.604);
    color: white;
    cursor: pointer;
}

.btn2 {
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.bg-img {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733));
    position: relative;
}

.padding {
    padding-left: 65px;
}

.back-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    bottom: 0vh;
    z-index: -1;
}

.foot-screen {
    min-height: 40vh;
}

.left-part {
    width: 33.3%;
    height: 55vh;
}

.mid-part {
    width: 33.3%;
    height: 55vh;
}

.right-part {
    width: 33.4%;
    height: 55vh;
}

.section-1 {
    height: 55vh;
    padding-left: 13vh;
    padding-top: 20vh;
}

.section-2 {
    height: 55vh;
    padding-left: 13vh;
    padding-top: 20vh;
}

.section-3 {
    height: 55vh;
    padding-left: 13vh;
    padding-top: 20vh;
}

.back-img1 {
    position: static;
    width: 50vh;
    height: 50vh;
    right: 0;
    bottom: 0vh;
    z-index: 0;
}

.img1 {
    position: static;
    right: 0;
    bottom: 0vh;
    z-index: 0;
}

.back-img2 {
    position: static;
    width: 50vh;
    height: 50vh;
    right: 0;
    bottom: 0vh;
    z-index: 0;
}

.img2 {
    position: static;
    right: 0;
    bottom: 0vh;
    z-index: 0;
}

.back-img3 {
    position: static;
    width: 50vh;
    height: 50vh;
    right: 0;
    bottom: 0vh;
    z-index: 0;
}

.img3 {
    position: static;
    right: 0;
    bottom: 0vh;
    z-index: 0;
}

.bt1 {
    padding: 5px 12px;
    background-color: rgba(51, 49, 49, 0.604);
    color: white;
    cursor: pointer;
    font-size: 100%;
    border-color: white;
}

.pd1 {
    padding: 5vh 16vh;
}

.pd {
    padding-bottom: 11vh;
}

.back-img10 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100vh;
    bottom: 0vh;
    z-index: -1;
}